<div class="card-row">
    <div class="col-xxl-12">
      <nb-card size="giant" accent="success">
        <nb-card-header>
          Items
        </nb-card-header>
        <nb-card-body>

            <div class="row">
                <div class="col-lg">
                  <label>
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)">
                      <option value="10" [selected]="entries==10">show 10 records</option>
                      <option value="25" [selected]="entries==25">show 25 records</option>
                      <option value="50" [selected]="entries==50">show 50 records</option>
                      <option value="-1" [selected]="entries==-1">show All records</option>
                    </select>
                    
                    </label>
                   
                </div>
                <div class="col-sm">
                  
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Filter By Name,Color, Price"
                      aria-controls="datatable"
                      (keyup)="filterDatatable($event)"
                    />
                  </label>
                </div>
              </div>
              <br>
               <ngx-datatable
                        #table
                        class="material"
                        [rows]="rows"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="60"
                        [loadingIndicator]="loadingIndicator"
                        [limit]="entries != -1 ? entries:undefined"
                        [selected]="selected"
                        [selectionType]="SelectionType.checkbox"
                        (select)="onSelect($event)"
                      >
                        <ngx-datatable-column
                        [width]="30"
                          [sortable]="false"
                          [canAutoResize]="false"
                          [draggable]="false"
                          [resizeable]="false"
                        >
                          <ng-template
                            ngx-datatable-header-template
                            let-value="value"
                            let-allRowsSelected="allRowsSelected"
                            let-selectFn="selectFn"
                          >
                            <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                          </ng-template>
                          <ng-template
                            ngx-datatable-cell-template
                            let-value="value"
                            let-isSelected="isSelected"
                            let-onCheckboxChangeFn="onCheckboxChangeFn"
                          >
                            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Name">
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value | titlecase}}
                          </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column name="Color" prop="color">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value | titlecase}}
                              </ng-template>
                        </ngx-datatable-column>
                    
                    
                       <ngx-datatable-column name="Price" prop="price">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                          {{value}}
                        </ng-template>
                       </ngx-datatable-column>

                       <ngx-datatable-column name="Actions" sortable="false" prop="id" [flexGrow]="1">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  
                              <button class="btn btn-outline-secondary" (click)="viewById(value)">
                                <i class="fa fa-eye" aria-hidden="true"> View</i>
                              </button>
                        </ng-template>
                      </ngx-datatable-column>
    
                      </ngx-datatable>
              
                

        </nb-card-body>
    </nb-card>
  </div>
</div>