@import '~@angular/material/theming';
::ng-deep.ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: left;
    padding: 0.9rem 1.2rem;
    font-weight: 400;
    background-color: #003e29;
    color: white;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
  }
